* {
    padding: 0;
    margin: 0;
    border: 0;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: black;
    font-family: sans-serif;
}


img {
    width: 350px; 
    height: 450px;
    box-shadow: rgba(0,0,0, 0.4) 3px 5px 6px;
    border-radius: 30px;
    background-color: white;
}

button {
    padding: 10px 30px;
    background-color:red;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 1rem;
    color: white;
}