body {
    text-align: center;
    font-family: sans-serif;
    background-color:rgba(252, 239, 202, 0.596);
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: plum;
    color: white;
}